{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ name }}</title>
    <link href="{% static 'css/main.css' %}" rel="stylesheet" />
</head>
<body>
    <h1>Hello my name is {{ name }}</h1>
    <article>NPM : {{ npm }}</article>
    <article>I am {{ age }} years old</article>
    <img src="{% static 'images/cat.jpeg' %}" alt="cat">
</body>
</html>
